body
{
  background-image: url(wp.jpeg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}


.navbar 
{
  top: 0;
  left: 0;
  background-color: transparent;
}

.header {
  padding: 20px;
  height: 10vh;
}

.header h1 {
  margin: 0;
  font-weight: 900;
  font-size: 3rem;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

ul 
{
 
    display: flex;
    align-content: center;
    justify-content: center;
}
  
ul li 
{
    list-style: none;
}
  
ul li a
{
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size: 0.875em;
    text-decoration: none;
    padding: 1em;
    white-space: nowrap;
    letter-spacing: 1px;
}
  
ul li a:hover
{
    border-bottom: 3px solid white;
}